body {
    background-color: yellowgreen;
}
h1 {
    color:black;
}
h2 {
    font-style:normal;
    color:black;
}
h3 {
    color:black;
}
h1 {
    font-family: 'Inter', sans-serif;
    font:20px 'Inter', sans-serif;
}
h2 {
    font-family: 'Inter', sans-serif;
    font:20px 'Inter', sans-serif;
}
h3 {
    font-family: 'Inter', sans-serif;
    font:20px 'Inter', sans-serif;
}